<h1>JSCONF EU 2013</h1>
<h3>Ask not what JavaScript can do for you</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/v=Pl8ei4cug8k" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/v=Pl8ei4cug8k</a></p><p>    </p>
<p><strong>Slides : </strong><br><a href="https://speakerdeck.com/jonbretman/ask-not-what-javascript-can-do-for-you">https://speakerdeck.com/jonbretman/ask-not-what-javascript-can-do-for-you</a></p>
<h5>by Jon Bretman</h5>
<p><a href="https://twitter.com/jonbretman">Twitter</a> |
<a href="https://github.com/jonbretman">Github</a> |
<a href="http://www.jonbretman.co.uk/">Website</a></p>
<hr>
<h3>Getting to know your users</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/YTlgMXqsuhM" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/YTlgMXqsuhM</a></p><p>    </p>
<p><strong>Slides : </strong><br><a href="http://de.slideshare.net/PayPal/open-identity-getting-to-know-your-users">http://de.slideshare.net/PayPal/open-identity-getting-to-know-your-users</a></p>
<h5>by Tim Messerschmidt</h5>
<p><a href="https://twitter.com/SeraAndroid">Twitter</a> |
<a href="https://github.com/SeraphimSerapis">Github</a> |
<a href="http://timmesserschmidt.com/">Website</a></p>
<hr>
<h3>I have a Dreamcode: Build Apps, not Backends</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/ARophKqA4E0" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/ARophKqA4E0</a></p><p>    </p>
<p><strong>Slides : </strong><br><a href="https://speakerdeck.com/espylaub/i-have-a-dreamcode-build-apps-not-backends-jsconf-dot-eu-2013">https://speakerdeck.com/espylaub/i-have-a-dreamcode-build-apps-not-backends-jsconf-dot-eu-2013</a></p>
<h5>by Alex Feyerke</h5>
<p><a href="https://twitter.com/espylaub">Twitter</a> |
<a href="https://github.com/espy">Github</a> |
<a href="http://alexfeyerke.com/">Website</a></p>
<hr>
<h3>Creating natural simulations in a web browser</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/5Td8KBUG034" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/5Td8KBUG034</a></p><p><strong>Links : </strong><br><a href="http://www.florajs.com/">http://www.florajs.com/</a></p>
<h5>by Vince Allen</h5>
<p><a href="http://plus.google.com/100799498962937806659">Google+</a> |
<a href="https://twitter.com/vinceallenvince">Twitter</a> |
<a href="https://github.com/foldi">Github</a> |
<a href="http://www.vinceallen.com/">Website</a></p>
<hr>
<h3>Promises and Generators: control flow utopia</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/qbKWsbJ76-s" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/qbKWsbJ76-s</a></p><p><strong>Slides : </strong><br><a href="http://pag.forbeslindesay.co.uk/#/">http://pag.forbeslindesay.co.uk/#/</a></p>
<p><strong>Links : </strong><br><a href="http://jade-lang.com/">http://jade-lang.com/</a><br><a href="http://browserify.org/">http://browserify.org/</a>   </p>
<h5>by Forbes Lindesay</h5>
<p><a href="https://twitter.com/ForbesLindesay">Twitter</a> |
<a href="https://github.com/ForbesLindesay">Github</a> |
<a href="http://www.forbeslindesay.co.uk/">Website</a></p>
<hr>
<h3>1024+ Seconds of JS Wizardry</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/RTxtiLp1C8Y" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/RTxtiLp1C8Y</a></p><p><strong>Slides : </strong><br><a href="http://www.slideshare.net/aemkei/1024-seconds-of-js-wizardry-jsconfeu-2013">http://www.slideshare.net/aemkei/1024-seconds-of-js-wizardry-jsconfeu-2013</a>  </p>
<h5>by Martin Kleppe</h5>
<p><a href="https://plus.google.com/103747379090421872359/">Google+</a> |
<a href="https://twitter.com/aemkei">Twitter</a> |
<a href="https://github.com/aemkei">Github</a> |
<a href="http://aem1k.com/">Website</a></p>
<hr>
<h3>Plight Of The Butterfly - Everything You Wanted To Know About Object.observe()</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/v=mfOh-J-9BY0" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/v=mfOh-J-9BY0</a></p><p><a href="http://google.com/+AddyOsmani">Google+</a> |
<a href="https://twitter.com/addyosmani">Twitter</a> |
<a href="https://github.com/addyosmani">Github</a> |
<a href="http://addyosmani.com/">Website</a></p>
<hr>
<h3>The Extensible Web: JavaScript All the Way Down</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/v=8LZ5Lxrs0E0" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/v=8LZ5Lxrs0E0</a></p><p><strong>Slides : </strong>
<a href="http://www.slideshare.net/domenicdenicola/the-extensible-web">http://www.slideshare.net/domenicdenicola/the-extensible-web</a></p>
<h5>by Domenic Denicola</h5>
<p><a href="https://twitter.com/domenic">Twitter</a> |
<a href="https://github.com/domenic">Github</a> |
<a href="http://domenic.me/">Website</a></p>
<hr>
<h3>Hardware is Stupid Simple</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/x3zXlPkzhgw" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/x3zXlPkzhgw</a></p><p><strong>Links : </strong><br>Nodebots : <a href="http://nodebots.io/">http://nodebots.io/</a><br>Arduino  : <a href="http://www.arduino.cc/">http://www.arduino.cc/</a></p>
<h5>by Sara Chipps</h5>
<p><a href="https://twitter.com/sarajchipps">Twitter</a> |
<a href="https://github.com/sarajo">Github</a> |
<a href="http://sarajchipps.com/">Website</a></p>
<hr>
<h3>Sometimes You Need to Draw Animals</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/qaLcnzs1hcI" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/qaLcnzs1hcI</a></p><p><strong>Slides : </strong><br><a href="https://speakerdeck.com/han/sometimes-you-need-to-draw-animals">https://speakerdeck.com/han/sometimes-you-need-to-draw-animals</a></p>
<h5>by Hannah Donovan</h5>
<p><a href="https://twitter.com/Han">Twitter</a> |
<a href="http://blog.hannahdonovan.com/">Website</a></p>
<hr>
<h3>Advanced Jank Busting in Chrome</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/8S_Vlq3jLZ0" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/8S_Vlq3jLZ0</a></p><p><strong>Slides : </strong><br><a href="http://jankfree.org/jank-busters-jsconf-eu/template.html">http://jankfree.org/jank-busters-jsconf-eu/template.html</a>  </p>
<h5>by Nat Duca</h5>
<p><a href="https://plus.google.com/u/0/108226521004258409305/posts">Google+</a> |
<a href="http://jankfree.org/">Website</a></p>
<hr>
<h3>Parsing, Compiling and Static Metaprogramming</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/UqTlToUYK1E" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/UqTlToUYK1E</a></p><p><strong>Slides : </strong><br><a href="https://speakerdeck.com/pdubroy/parsing-compiling-and-static-metaprogramming">https://speakerdeck.com/pdubroy/parsing-compiling-and-static-metaprogramming</a></p>
<p><strong>Links : </strong><br>Esprima : <a href="http://esprima.org/">http://esprima.org/</a><br>PEG.JS  : <a href="http://pegjs.majda.cz/">http://pegjs.majda.cz/</a></p>
<h5>by Patrick Dubroy</h5>
<p><a href="https://twitter.com/dubroy">Twitter</a> |
<a href="http://dubroy.com/">Website</a></p>
<hr>
<h3>UXing without a UXer</h3>
<p class="oembed"><a href="http://www.youtube.com/embed/aIFaAkHFLxA" data-props="%7B%22width%22%3A%22800px%22%7D" target="_blank">http://www.youtube.com/embed/aIFaAkHFLxA</a></p><p><strong>Slides : </strong><br><a href="http://www.slideshare.net/chrissywelsh/hitchikers-guide-to-uxing-without-a-uxer">http://www.slideshare.net/chrissywelsh/hitchikers-guide-to-uxing-without-a-uxer</a></p>
<h5>by Chrissy Welsh</h5>
<p><a href="https://twitter.com/chrissywelsh">Twitter</a> |
<a href="https://github.com/chrissywelsh">Github</a> |
<a href="http://www.christinewelsh.co.uk/">Website</a></p>
