@import url(http://fonts.googleapis.com/css?family=Coda);

html, body {

    width       : 100%;
    height      : 100%;
    font-family : Helvetica, Arial, FreeSans, sans-serif;
    font-size   : .9em;
    padding     : 0;
    margin      : 0;
    overflow    : hidden;
}

menu, ul {
    list-style  : none;
    padding     : 0;
    margin      : 0;
}

#sidebar {
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    width    : 420px;
    background-color: #121212;
}

#main {
    position : absolute;
    top      : 0;
    left     : 450px;
    right    : 0;
    bottom   : 0;
    overflow : auto;
}

#about,
#lifestream {
    position : absolute;
    left     : 10px;
}

#about {
    top     : 10px;
}

#lifestream {
    top     : 460px;
    bottom  : 10px;
    right   : 10px;
    overflow-y : scroll;
}

ul.lifestream {

    font-size       : .9em;
    vertical-align  : middle;
    font-family     : 'Coda', cursive;
    color           : #EEEEEE;

    li {

        position        : relative;
        padding-left    : 20px;
        padding-right   : 20px;
        margin-bottom   : 10px;

        &.lifestream-twitter:before {
            content: url(../images/icons/twitter/twitter-16.png);

            position : absolute;
            top: 0;
            left : 0px;
        }

        &.lifestream-googleplus:before {
            content: url(../images/icons/googleplus/googleplus-16.png);
            position : absolute;
            top: 0;
            left : 0px;
        }

        &.lifestream-github:before {
            content: url(../images/icons/github/github-16.png);
            position : absolute;
            top: 0;
            left : 0px;
        }
    }


}

/**
ul.lifestream {

    li {

        position        : relative;

        font-size       : .9em;
        vertical-align  : middle;
        font-family     : 'Coda', cursive;

        color           : #EEEEEE;
        width           : 90%;
        height          : 14px;

        overflow        : hidden;
        margin-bottom   : 4px;


        &.lifestream-twitter:before {
            content: url(../images/icons/twitter/twitter-16.png);

            position : absolute;
            top: 0;
            left : 0px;
        }

        &.lifestream-googleplus:before {
            content: url(../images/icons/googleplus/googleplus-16.png);
            position : absolute;
            top: 0;
            left : 0px;
        }

        &.lifestream-github:before {
            content: url(../images/icons/github/github-16.png);
            position : absolute;
            top: 0;
            left : 0px;
        }
    }

}


/**
#lifestream {

    li {
        padding         : 10px;
        font-size       : .8em;
        width           : 300px;
        overflow        : hidden;
        padding-bottom  : 15px;
        margin-bottom   : 2px;
        background-color: #DEDEDE;
    }


}
*/